In [36]:
import pandas as pd

In [37]:
pwd

'C:\\Users\\Pc\\Documents\\programing\\Eliott\\python for data science and mchine learning bootcamp\\Refactored_Py_DS_ML_Bootcamp-master\\03-Python-for-Data-Analysis-Pandas'

In [38]:
pd.read_csv("example")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [44]:
df = pd.read_csv("example")

In [45]:
df.to_csv("my_output", index = False)

In [46]:
pd.read_csv("my_output")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [55]:
pd.read_excel("Excel_Sample.xlsx", sheet_name = "Sheet1", index_col = 0)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [57]:
pd.to_excel("Excel_Sample2.xlsx", sheet_name ="Newsheet")

AttributeError: module 'pandas' has no attribute 'to_excel'

In [66]:
data = pd.read_html("http://www.fdic.gov/bank/individual/failed/banklist.html")

ImportError: html5lib not found, please install it

In [63]:
data[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

In [61]:
type(data)

list