In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ["a", "b", "c"]
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {"a": 10, "b": 20, "c": 30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [28]:
Ser1 = pd.Series([1, 2, 3, 4], ["USA", "Germany", "USRR", "Japan"])

In [29]:
Ser1

USA        1
Germany    2
USRR       3
Japan      4
dtype: int64

In [30]:
Ser2 = pd.Series([1, 2, 5, 4], ["USA", "Germany", "Italy", "Japan"])

In [31]:
Ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [32]:
Ser1["Germany"]

2

In [33]:
Ser3 = pd.Series(labels)

In [34]:
Ser3

0    a
1    b
2    c
dtype: object

Ser3[0]

In [35]:
Ser1

USA        1
Germany    2
USRR       3
Japan      4
dtype: int64

In [36]:
Ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [37]:
Ser1 + Ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USRR       NaN
dtype: float64